$font-size-base: 0.875rem;

$navbar-height: 54.38px;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    padding-top: $navbar-height;
}

/* 
 * Sidebar 
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    font-weight: 500;
    padding: $navbar-height 0 0;
    .nav-link {
        color: var(--dark);
    }
    .nav-link.active {
        color: var(--primary);
    }
}
